.mat-dialog-title {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    font-family: $font;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    .mat-icon {
        margin: 0 10px 0 0;
        font-size: 30px;
        @include size(30px);
    }
}